       <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Name's&nbsp<span class="logo_colour">Group</span></a></h1>
          <h2>Computational Materials Science Group </h2>
        </div>
        <div id=msenlogo> <img src="style/msen_logo_maroon.png" height="44.8" width="257.6"></img></div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li id="home"><a href="index.html">Home</a></li>
          <li id="research"><a href="research.html">Research</a></li>
          <li id="people"><a href="people.html">People</a></li>
          <li id="publication"><a href="publication.html">Publication</a></li>
          <li id="galleries"><a href="galleries.html">Galleries</a></li>
        </ul>
      </div>