 <!-- insert the page content here -->
 <!--<h1>Principal Investigator</h1>-->

  
  
  
        <h1><b>Prof.Name</b></h1>
        <span class="left"><img src="style/boss.jpg" width="190" ></span>
        <p>
		  
          <h4>&nbsp <b>Awards & Honors</b></h4>
          &nbsp XXXXXXXXXXXXXXXXXXX<br>
          &nbsp XXXXXXXXXXXXXXXXXXX<br><br>
          <h4>&nbsp <b>Education</b> &nbsp &nbsp<a href="#">CV</a></h4>         
          &nbsp Ph.D., XXXXXXXXXXXX 19XX)<br>
          &nbsp M.S., XXXXXXXXXXXXXXX 19XX)<br>
          &nbsp B.S., XXXXXXXXXXXXXX 19XX)<br><br>
		  <h4>&nbsp <b>Contact Info</b></h4>
		  &nbsp Office: XXX XXX<br>
		  &nbsp Email: XXX(at)XXX.edu<br>
		  &nbsp Phone: XXX.XXX.XXXX<br>
        </p>
		<br>
        
         
        <h1>Current Students</h1>
		
		
<table border="0">
<tr>
<td id="row1cell1" width="180">
        <img src="style/lanhuang.jpg" width="130" > 
        <p>&nbsp <b>XXX Huang</b></p>
        <p>
          &nbsp <b>Research interests</b><br>
          &nbsp Polymer XXX <br>
          &nbsp Ionic XXX<br><br>
		  &nbsp <b>Info</b><br>
		  &nbsp 2015-present<br>
          &nbsp X(at)X.edu
        </p>
</td>
<td id="row1cell2"  width="180"> 
        <img src="style/Richard.PNG" width="130" > 
        <p>&nbsp <b> RiXXXXXX</b></p>
		<p>
          &nbsp <b>Research interests</b><br>
          &nbsp Hydrogen Embrittlement <br>
		  &nbsp PolycXXXX <br><br>
		  &nbsp <b>Info</b><br>
		  &nbsp 2012-present<br>
          &nbsp XXX(at)XX.edu
		</p>
</td>
<td id="row1cell3"  width="180">
        <img src="style/lenghan.jpg" width="130" >
        <p>&nbsp <b>XXXXXXXX</b></p>
        <p>
          &nbsp <b>Research interests</b><br>
          &nbsp Hydrogen Embrittlement <br>
          &nbsp Alloy XXXX<br><br>
		  &nbsp <b>Info</b><br>
		  &nbsp 2014-present<br>
          &nbsp XXX(at)XX.edu
        </p>
</td>

<td id="row1cell4"  width="180">
       <img src="style/andrew.PNG" width="130" >
        <p>&nbsp <b>AndrXXXX</b></p>
        <p>
          &nbsp <b>Research interests</b><br>
          &nbsp Amino acid <br>
          &nbsp XXXXX<br><br>
		  &nbsp <b>Info</b><br>
		  &nbsp 2017-present<br>
          &nbsp XXX(at)XXX.edu
        </p>
        

</td>
</tr>
</table>
		
		
        
				
		
        	
		
	
        
	
		
		
		 

        <h1>Alumni</h1>
        <p>
		<b>XXXXX</b> PhD 2014-2017<br>
		<b>XXXXX</b>    PhD 2005-2011<br>
		<b>XXXXXX</b>   PhD 2006-2011<br>
	 

        </p>